NODE_ENV='development'
PORT=8080

THROTTLE_TTL_MS=1000
THROTTLE_LIMIT=60

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=ecommerce
DB_SYNCHRONIZE=false

SMTP_USER=
SMTP_PASS=
SMTP_FROM=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
BETTER_AUTH_SAMESITE_NONE=
BETTER_AUTH_TRUSTED_ORIGINS=
CLIENT_URL=
NEXT_PUBLIC_APP_URL=

ELASTICSEARCH_NODE=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

REDIS_URL=
REDIS_HOST=localhost
REDIS_PORT=36379
REDIS_PASSWORD=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_BUCKET_NAME=

PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_RETURN_URL=
PAYOS_CANCEL_URL=

LANDING_PAGE_URL=
ADMIN_PANEL_URL=

DB_POOL_MAX=20
DB_POOL_MIN=2
DB_POOL_CONNECTION_TIMEOUT_MS=5000
DB_POOL_IDLE_TIMEOUT_MS=30000